
.nalt{
    background-color: yellow;
}
.divi{
    background-color:rgb(255, 190, 70);
    height: 111px;
    width: 3000px;

}
img{
    height: 60px;
    width: 60px;
    padding-right: 0px;
}